* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

/* Container */
.container {
  margin: 20px auto;
  width: 1280px;
  height: 495px;
  background-color: #f74d55;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.container .circle1 {
  width: 206px;
  height: 206px;
  background-color: #ee732f;
  -webkit-transform: translate(75px, -106px);
          transform: translate(75px, -106px);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.container .circle2 {
  width: 281px;
  height: 281px;
  background-color: #f74c55;
  -webkit-transform: translate(38px, -119px);
          transform: translate(38px, -119px);
  border-radius: 50%;
  position: absolute;
  z-index: -2;
}

.container .circle3 {
  width: 384px;
  height: 384px;
  background-color: #2d5f3b;
  -webkit-transform: translate(-14px, -133px);
          transform: translate(-14px, -133px);
  border-radius: 50%;
  position: absolute;
  z-index: -3;
}

.container .circle4 {
  width: 466px;
  height: 466px;
  background-color: #82a3ad;
  -webkit-transform: translate(-55px, -144px);
          transform: translate(-55px, -144px);
  border-radius: 50%;
  position: absolute;
  z-index: -4;
}

.container .circle5 {
  width: 525px;
  height: 525px;
  background-color: #f74c55;
  -webkit-transform: translate(-84px, -141px);
          transform: translate(-84px, -141px);
  border-radius: 50%;
  position: absolute;
  z-index: -5;
}

.container .circle6 {
  width: 718px;
  height: 718px;
  background-color: #404040;
  -webkit-transform: translate(-181px, -168px);
          transform: translate(-181px, -168px);
  border-radius: 50%;
  position: absolute;
  z-index: -6;
}

.container .circle7 {
  width: 870px;
  height: 870px;
  background-color: #fb636b;
  -webkit-transform: translate(-257px, -188px);
          transform: translate(-257px, -188px);
  border-radius: 50%;
  position: absolute;
  z-index: -7;
}

.container .ellipse1 {
  width: 206px;
  height: 206px;
  background-color: #ee732f;
  -webkit-transform: translate(1217px, 328px);
          transform: translate(1217px, 328px);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.container .ellipse2 {
  width: 281px;
  height: 281px;
  background-color: #f74c55;
  -webkit-transform: translate(1162px, 308px);
          transform: translate(1162px, 308px);
  border-radius: 50%;
  position: absolute;
  z-index: -2;
}

.container .ellipse3 {
  width: 384px;
  height: 384px;
  background-color: #2d5f3b;
  -webkit-transform: translate(1084px, 283px);
          transform: translate(1084px, 283px);
  border-radius: 50%;
  position: absolute;
  z-index: -3;
}

.container .ellipse4 {
  width: 466px;
  height: 466px;
  background-color: #404040;
  -webkit-transform: translate(1022px, 263px);
          transform: translate(1022px, 263px);
  border-radius: 50%;
  position: absolute;
  z-index: -4;
}

.container .ellipse5 {
  width: 527px;
  height: 527px;
  background-color: #fb636b;
  -webkit-transform: translate(971px, 247px);
          transform: translate(971px, 247px);
  border-radius: 50%;
  position: absolute;
  z-index: -5;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 135px;
  margin-right: 165px;
  padding-top: 15px;
}

.nav-bar .logo {
  font-size: 50px;
  font-weight: 400;
  font-family: 'Pacifico';
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

.nav-bar .nav-bar_item {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding-right: 35px;
}

.inner {
  margin-left: 700px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.inner .inner_title {
  font-size: 40px;
  font-weight: 300;
}

.inner .inner_text {
  margin-top: 13px;
  margin-left: 2px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 24px;
}

.inner .inner_btn {
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #f74d55;
  font-size: 24px;
  font-weight: 400;
  margin-left: 6px;
  padding: 10px 25px;
  border-radius: 7px;
}

/* Main */
.main {
  height: 448px;
  width: 1280px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main .main__intro {
  padding: 85px 220px 0;
}

.main .main__intro .main__title {
  font-size: 30px;
  margin-bottom: 25px;
}

.main .main__intro .main__text {
  font-size: 14px;
  line-height: 24.72px;
  margin-bottom: 57px;
}

.color-line__item1 {
  display: inline-block;
  width: 36px;
  height: 32px;
  background-color: #ee732f;
  margin-right: -4px;
}

.color-line__item2 {
  display: inline-block;
  width: 36px;
  height: 32px;
  background-color: #f74c55;
  margin-right: -4px;
}

.color-line__item3 {
  display: inline-block;
  width: 36px;
  height: 32px;
  background-color: #2d5f3b;
  margin-right: -4px;
}

.color-line__item4 {
  display: inline-block;
  width: 36px;
  height: 32px;
  background-color: #404040;
  margin-right: -4px;
}

.color-line__item5 {
  display: inline-block;
  width: 36px;
  height: 32px;
  background-color: #fb636b;
}

/* Features */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1280px;
}

.features .box {
  height: 310px;
}

.features__wrapper {
  margin: 35px auto;
  width: 268px;
  color: #ffffff;
}

.item1 {
  width: 430px;
  background-color: #404040;
}

.item2 {
  width: 420px;
  background-color: #f74c55;
}

.item3 {
  width: 430px;
  background-color: #2d5f3b;
}

.features__title {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 15px;
  font-size: 22px;
  font-weight: 400;
  line-height: 44.72px;
}

.features__text {
  height: 135px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.72px;
  overflow: auto;
  margin: 20px 0;
}

.features__btn {
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  float: right;
  position: relative;
}

.btn__icon {
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.item1-btn {
  background-color: #272727;
}

.item2-btn {
  background-color: #c53840;
}

.item3-btn {
  background-color: #1c3d25;
}

/* Aside */
.aside {
  width: 1280px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  background: #383537 url(../img/aside-bg.jpg) center no-repeat/cover;
  position: relative;
  color: #ffffff;
  z-index: 1;
}

.aside::before {
  content: '';
  position: absolute;
  width: 1280px;
  height: 500px;
  top: 0;
  left: 0;
  background-color: #030503;
  opacity: 0.88;
  z-index: -1;
}

.aside__text {
  padding-top: 180px;
  padding-bottom: 50px;
  font-size: 42px;
  line-height: 53.72px;
  font-weight: 300;
}

.aside__btn {
  padding: 5px 30px;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 6px;
  color: #ffffff;
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */